* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(41, 48, 107);
    color: #f6f6f6;
}

.calculator{
    height: 10em;
    position: relative;
}

.calculator .container{
    margin: 10px;
    position: absolute;
    top: 100%;
    left: 35%;
    background: rgb(16, 19, 41);
    width: 16em;
    height: 25em;
}

.screen{
    height: 40px;
    width: 230px;
    background-color: rgb(48, 51, 82);
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 24px;
    margin-left: 1px;
    border-radius: 5px;
    color: #f6f6f6;
}

.container{
    border-radius: 10px;
    max-width: 800px;
    padding: 20px 20px 10px;
}

button {
    width: 3.5em;
    height: 3.5em;
    padding: 3px 0;
    margin: 7px;
    border-radius: 5px;
    background-color: rgb(16, 19, 41);
    color: #f6f6f6;
}

.buttons{
    display: table-cell;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding-top: 0.5em;
}

.row{
    display: table-row;
}

.row > button{
    display: table-cell;
}